secrets.yaml
.esphome
.DS_Store
*.db
*.sqlite3
*.log
*.pyc
*.pyo
*.pyd
__pycache__
*.egg-info
*.egg
*.zip
*.tar.gz
*.rar
*.tar
*.gz
*.7z
*.swp
*.bak
*.tmp
*.pid
*.pid.lock
*.lock
*.cache
*.coverage
*.coverage.*
*.pytest_cache
*.mypy_cache
*.pylint.d
*.tox

/.mise/
node_modules

/.venv/
